{
  "Defaults": {
    "solid": "Collide",
    "trigger": "Collide",
    "player": "Collide",
    "projectile": "Collide"
  },
  "Pairs": [
    {
      "a": "solid",
      "b": "solid",
      "r": "Collide"
    },
    {
      "a": "trigger",
      "b": "solid",
      "r": "Collide"
    },
    {
      "a": "player",
      "b": "player",
      "r": "Collide"
    },
    {
      "a": "solid",
      "b": "player",
      "r": "Collide"
    },
    {
      "a": "projectile",
      "b": "projectile",
      "r": "Collide"
    },
    {
      "a": "player",
      "b": "projectile",
      "r": "Collide"
    },
    {
      "a": "solid",
      "b": "projectile",
      "r": "Collide"
    },
    {
      "a": "trigger",
      "b": "projectile",
      "r": "Collide"
    },
    {
      "a": "trigger",
      "b": "trigger",
      "r": "Collide"
    },
    {
      "a": "trigger",
      "b": "player",
      "r": "Collide"
    }
  ],
  "__guid": "f4360cad-1839-41b5-9a53-aec6ef57acbb",
  "__schema": "configdata",
  "__type": "CollisionRules",
  "__version": 1
}